[Unit]
Description=sipeed userspace driver daemon

[Service]
ExecStart=/usr/local/bin/sipeed-ec-daemon /dev/ttyS3 576000 -k
Nice=-18

[Install]
WantedBy=multi-user.target
